{% extends 'partials/base.html' %}
{% from "bootstrap5/form.html" import render_form %}
{% from "bootstrap5/utils.html" import render_icon %}
{% from "bootstrap5/utils.html" import render_messages %}

{% block main %}
    <div class="container rounded p-3" style="max-width: 700px;">
        <div class="text-center">
            <h1 class="display-5 fw-bold text-primary">
                Gestion de tâches
            </h1>
            <p class="fs-4">Ajouter, voir, modifier et supprimer vos tâches</p>
        </div>
        <hr class="w-25 m-auto">

        <div class="mt-5">
            {{ render_messages(dismissible=true) }}
        </div>

        {% include "partials/form.html" %}

        <div id="contents" class="my-5">
            {% include "partials/todo_list.html" %}
        </div>
    </div>
{% endblock main %}